@font-face {
  font-family: 'Cascadia Code'; /* Puedes usar el nombre que quieras aquí */
  src: url('../fonts/Cascadia%20Code%20-%20copia.ttf') format('truetype'); /* Ruta a tu fuente y formato */
  /* Otros atributos opcionales como font-weight, font-style, etc. */
}

.boton {
  width: 25%;
  height: 100%;
  padding: 10px 0;
  background-color: white;
  border-radius: 3px;
  font: 1rem;
  margin: 2px;
  font-family: 'Cascadia Code';
}

.boton:hover {
  background-color: blueviolet;
  color: #fff;
}

.delete {
  width: 25%;
  height: 100%;
  padding: 10px 0;
  background-color: tomato;
  border-radius: 3px;
  color: #fff;
  font: 1rem;
  margin: 2px;
}

.delete:hover {
  background-color: rgb(218, 218, 1);
  color: #101010;
}

.operador {
  background-color: rgb(0, 164, 0);
  color: white;
}

.operador:hover {
  background-color: lawngreen;
  color: white;
}

@media (width< 767px) {
  .boton:hover {
    background-color: white;
    color: black;
  }

  .delete:hover {
    background-color: tomato;
    color: white;
  }

  .operador:hover {
    background-color: rgb(0, 164, 0);
    color: white;
  }

  .boton:active {
    background-color: blueviolet;
    color: #fff;
  }

  .delete:active {
    background-color: rgb(218, 218, 1);
    color: #101010;
  }

  .operador:active {
    background-color: lawngreen;
    color: white;
  }
}
